- 
  const loadingContentList = [
    {id: "loadVideo", val: "動画データ"},
    {id: "loadSong", val: "楽曲の基本情報"},
    {id: "loadSongMap", val: "楽曲地図"},
    {id: "loadSongInfo", val: "楽曲の詳細情報"},
    {id: "loadLyrics", val: "歌詞テキストの発声タイミング情報"},
    {id: "loadText", val: "歌詞テキスト"},
    {id: "loadFonts", val: "フォント"},
    {id: "loadVocalAmplitude", val: "声量の情報"},
    {id: "loadValenceArousal", val: "V/A空間の情報"},
  ]
